<!-- features/tablas/empleado/empleado-form/empleado-form.html -->
<div class="cabezera">
  <h2>{{ empleado ? 'Editar Empleado' : 'Nuevo Empleado' }}</h2>
</div>
<form [formGroup]="form" (ngSubmit)="guardar()">
  <!--<div class="form-field">
    <label>Código</label>
    <input formControlName="codigo" />
  </div>-->

  <div class="form-field">
    <label>Nombre</label>
    <input formControlName="nombre" />
  </div>

  <div class="form-field">
    <label>Apellido</label>
    <input formControlName="apellido" />
  </div>

  <div class="form-field">
    <label>DNI</label>
    <input formControlName="dni" />
  </div>

  <div class="form-field">
    <label>Teléfono</label>
    <input formControlName="telefono" />
  </div>

  <div *ngIf="empleado">
    <div class="field">
      <label>Cargo actual</label>
      <input [value]="empleado.cargo.descripcion" disabled />
    </div>
  </div>
  <app-select-api [label]="'Nuevo Cargo'" containerClass="cbo-form" [apiPath]="'/cargos'"
  [selectedId]="form.get('idCargo')?.value"
    (selectionChange)="form.patchValue({ idCargo: $event })">
  </app-select-api>

  <div class="direcciones">
    <div>
      <div *ngIf="empleado">
        <div class="field">
          <label>Departamento actual</label>
          <input [value]="empleado.distrito.provincia.departamento.descripcion" disabled />
        </div>
      </div>
      <app-select-api [label]="'Nuevo Departamento'" containerClass="cbo-form" [apiPath]="'/departamentos'"
      
        (selectionChange)="form.patchValue({ idDepartamento: $event, idProvincia: undefined, idDistrito: undefined })">
      </app-select-api>
    </div>
    <div>

      <div *ngIf="empleado">
        <div class="field">
          <label>Provincia actual</label>
          <input [value]="empleado.distrito.provincia.descripcion" disabled />
        </div>
      </div> <ng-container *ngIf="form.get('idDepartamento')?.value">
        <app-select-api [label]="'Nueva Provincia'" containerClass="cbo-form" [apiPath]="'/provincias'"
          [params]="{ idDepartamento: idDepartamento }" 
          (selectionChange)="form.patchValue({ idProvincia: $event, idDistrito: undefined })">
        </app-select-api>
      </ng-container>
    </div>
    <div>
      <div *ngIf="empleado">
        <div class="field">
          <label>Distrito actual</label>
          <input [value]="empleado.distrito.descripcion" disabled />
        </div>
      </div>
      <ng-container *ngIf="form.get('idProvincia')?.value">
        <app-select-api [label]="'Nuevo Distrito'" containerClass="cbo-form" [apiPath]="'/distritos'"
          [params]="{ idProvincia: idProvincia }"  (selectionChange)="form.patchValue({ idDistrito: $event })">
        </app-select-api>
      </ng-container>
    </div>
  </div>

  <div class="form-actions">
    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Guardar</button>
    <button class="btn btn-danger" type="button" (click)="cancelar()">Cancelar</button>
  </div>
</form>