<nav class="navbar">
  <div class="navbar-left">
    <ul>
      <li><a routerLink="inicio">Inicio</a></li>

      <!-- Pedidos (Cajero o Mesero) -->
      <li *ngIf="rol === 'Cajero' || rol === 'Mesero'">
        <a routerLink="pedidos">Pedidos</a>
      </li>

      <!-- Facturación (solo Cajero) -->
      <li *ngIf="rol === 'Cajero'">
        <a routerLink="facturacion">Facturación</a>
      </li>

      <!-- Reportes (Admin o Supervisor) -->
      <li *ngIf="rol === 'Administrador' || rol === 'Supervisor'">
        <a routerLink="reportes">Reportes</a>
      </li>

      <!-- Submenú desplegable: Tablas -->
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Tablas ▾</a>
        <div class="dropdown-content">
          <a routerLink="empleado">Empleado</a>
          <a routerLink="producto">Producto</a>
          <a routerLink="/home/menu">Menú</a>
          <a routerLink="/home/cliente">Clientes Registrados</a>
        </div>
      </li>
    </ul>
  </div>

  <!-- Usuario (icono + nombre + menú desplegable) -->
  <div class="navbar-right">
    <div class="user-menu">
      <i class="bx bxs-user"></i>
      <span>{{usuario?.nombreEmpleado}} {{ usuario?.apellidoEmpleado }}</span>
      <div class="user-dropdown">
        <button (click)="logout()">Cerrar sesión</button>
      </div>
    </div>
  </div>
</nav>


  <!-- Aquí se renderizan las rutas hijas -->
  <router-outlet></router-outlet>